.tableContainer{
    width: 75%;
    z-index: 100;
    margin-left: 2vw;
}

.userForm{
    margin-left: 5vw;
    width: 100%;
    z-index: 100;
    margin-top: 13vh;
}

.line{
    margin-bottom:2vh;
    width:10vw;
    margin-right: 8vw;

}
th{
    width: 10vw;
}

td{
    margin-top: 6vh;
    text-align: center;
    width: 11vw;
}

tr:not(:last-of-type){
    height: 5vh;
    border-width: 1px;
}



tr:hover {
    background-color: rgba(123, 154, 109, 0.5);
}

.active-row {
    background-color: rgba(123, 154, 109, 0.5);
}


.searchbank{
    border-radius: 2px soli
}

.calc{
    background-color: rgba(255,255,255,0.1);
    width:45%;
    height: 70vh;
    margin-right: 3vw;
}


